body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to bottom right, #ec1414, #055cdd);
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.8s ease-in-out;
}

h1 {
    color: #ffffff;
    font-size: 36px;
    margin-bottom: 20px;
}

.input-container {
    margin: 30px 0;
}

input {
    padding: 15px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    width: 100%;
    margin-bottom: 20px;
    background: rgba(209, 194, 194, 0.759);
    color: #FFF;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px 30px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #45A049;
}

.result-container {
    margin-top: 30px;
    font-size: 24px;
    color: #f8f8f8;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
